/* General Styles */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    color: #333;
    line-height: 1.6;
}

a {
    text-decoration-color:#00f2fe;
    color: inherit;
    transition: color 0.3s ease;
}


a:hover {
    color: #00f2fe;
}

h1, h4 {
    margin: 0;
}

/* Navigation Bar */
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #001f3f;
    color: white;
    padding: 15px 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.nav h4 {
    font-size: 1.8em;
    font-weight: bold;
}

.nav a {
    text-decoration-color:#001f3f;
    color: white;
    padding: 10px 15px;
    font-size: 1em;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: 0.3s ease, color 0.3s ease;
}

.nav a:hover {
    background: white;
    color: #001f3f;
    border: 1px solid #001f3f;
}

/* Main Content */
.img {
    align-self: flex-end;
    width: 20vw;
    height: 30vh;
    z-index: 1;
    position: absolute;
}
.pTitle {
    z-index: 5;
    text-align: center;
    align-self: center;
}
.headingRight {
    margin-top: 5vh;
    margin-left: 5vw;
}
.headingLeft {
    text-align: right;
    margin-top: -7vh;
    margin-right: 5vw;
}
.main_page {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 50px auto;
    background: #ffffff;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}
.Mobile_main_projects {
    display: none;
}
.PC_main_projects {
    display: flex;
    flex-wrap: wrap;
    margin-top: 05vh;
    margin-bottom: 05vh;
    margin-left: 05vw;
    margin-right: 05vw;
    background: #ffffff;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}
.colOne {
    width: 20vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 1;
    background: #f8fbff;
    z-index: 3;
    justify-content: center;
    align-items: center;
}
.colTwo {
    width: 20vw;
    display: flex;
    flex-direction: row;
    flex: 1;
    background: #e3f2fd;
    padding: 5%;
    z-index: 3;
}

.main_res {
    flex: 1;
    background: #e3f2fd;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PC_main_res {
    flex: 1;
    background: #e3f2fd;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_res img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.main_dom{
    flex: 2;
    padding: 40px;
    background: #f8fbff;
}

.main_dom h1 {
    font-size: 2.5em;
    color: #001f3f;
    margin-bottom: 20px;
}

.main_dom p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

.bar {
    height: 4px;
    background: #4facfe;
    border: none;
    margin: 30px 0;
}

/* Footer */
.footer {
    text-align: center;
    padding: 15px;
    background: #001f3f;
    color: white;
    font-size: 0.9em;
    margin-top: 50px;
}

.footer a {
    color: #4facfe;
    text-decoration: none;
    transition: text-decoration 0.3s ease;
}

.footer a:hover {
    text-decoration: underline;
}
/* Slideshow css*/
.slideshowContainer {
    max-width: 40vw;
    height: auto;
    position: relative;
}
.mySlides1 {
    display: none;
}
.mySlides2 {
    display: none;
}
.imgSlides{
    align-self: flex-end;
    width: 20vw;
    height: 30vh;
    z-index: 1;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(96, 11, 100);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.numbertext {
    color: rgb(96, 11, 100);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.mobile_only {
    display: none;
}

@media (max-width: 768px) {
    .PC_main_res {
        display: none;
    }
    .PC_only {
        display: none;
    }
    .after_footer {
        background: #001f3f;
        min-height: 50vh;
    }

    .homepage_img{
        height: auto;
        max-width: 128px;
    }

    .img {
        width: auto;
        height: auto;
    }

    .PC_main_projects {
        display: none;
    }

    .Mobile_main_projects {
        display: contents;
        padding: 12px;
    }

    .slideshowContainer {
        display: none;
    }

    .mobile_only {
        display: contents;
    }

    /* Navigation Bar */
    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #001f3f;
        color: white;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    }

    .nav h4 {
        font-size: 0.2em;
        font-weight: bold;
    }

    .nav a {
        text-decoration-color:#001f3f;
        color: white;
        padding: 8px 12px;
        font-size: 0.8em;
        border: 1px solid transparent;
        border-radius: 1px;
        transition: 0.3s ease, color 0.3s ease;
    }

    .nav a:hover {
        background: white;
        color: #001f3f;
        border: 1px solid #001f3f;
    }
    .main_page {
        padding: 8px;
        margin: 10px;
        max-width: 768px;
        background: #ffffff;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
    }
    .main_page h3 {
        font-size: 1.0em;
        color: #001f3f;
        margin-bottom: 10px;
    }
    .main_page p {
        font-size: 0.6em;
        color: #001f3f;
        margin-bottom: 10px;
    }
    .colOne {
        width: 20vw;
        background: #f8fbff;
        z-index: 3;
        justify-content: center;
        align-items: center;
    }
    .colTwo {
        width: 20vw;
        background: #e3f2fd;
        padding: 5%;
        z-index: 3;
    }

    .main_res {
        flex: 1;
        background: #e3f2fd;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .main_res img {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .main_dom{
        flex: 2;
        padding: 10px;
        background: #f8fbff;
    }
    
    .main_dom h1 {
        font-size: 1.0em;
        color: #001f3f;
        margin-bottom: 10px;
    }

    .main_dom h2 {
        font-size: 1.0em;
        color: #001f3f;
        margin-bottom: 10px;
    }

    .main_dom li {
        font-size: 0.6em;
        color: #001f3f;
        margin-bottom: 10px;
    }
    
    .main_dom p {
        font-size: 0.6em;
        margin-bottom: 10px;
    }

    
    
    /* Footer */
    .footer {
        text-align: center;
        padding: 5px;
        background: #001f3f;
        color: white;
        font-size: 0.6em;
        margin-top: 10px;
        align-self: self-end;
    }

    .footer a {
        color: #4facfe;
        text-decoration: none;
        transition: text-decoration 0.3s ease;
    }

    .footer a:hover {
        text-decoration: underline;
    }
}